{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 2,
    "@typescript-eslint/no-namespace": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
